.home {
    height: 78.3vh;
    background-color: var(--color-bg);

    display: flex;
    flex-direction: column;
    align-items: center;

    .home__title {
        padding-top: 8%;
        color: var(--color-light-txt);
        font-size: 4rem;
        font-weight: 300;
    }

    .home__input {
        width: 70%;
        padding: 1.5% 1% 1.5% 1%;
        margin-top: 1%;
        margin-bottom: 1%;
        border: solid 0.15rem var(--color-input-border);
        border-radius: 16px;
        font-size: 2rem;
    }

    .home__button {
        padding: 1% 0 1% 0;
        width: 38%;
        font-size: 2rem;

        background-color: var(--color-btn);
        border: none;
        border-radius: 16px;

        color: var(--color-palette-White);
        transition: background-color 0.5s ease , transform 0.5s ease ;
    }
    
    .home__button:hover {
        background-color: var(--color-contrast-big-btn);
        transform: scale(1.1);
    }
}