.userProfile {
    padding-bottom: 10%;
    min-height: 78.3vh;
    padding-left: 1%;
    padding-top: 1%;
    background-color: var(--color-bg);

    .container {
        display: flex;
        align-items: baseline;

        .userProfile__title {
            color: var(--color-light-txt);
            font-weight: 300;
            font-size: 2.5rem;
        }

        .userProfile__user {
            padding-left: 0.5%;

            .user__user {
                color: var(--color-palette-Crimson);
                font-weight: 500;
            }
        }

        @media (max-width: 580px) {
            flex-direction: column;
        }
    }

    .userProfile__links {
        padding-left: 1%;
        padding-top: 0.5%;
        display: flex;
        flex-direction: column;
        align-items: center; /* Centra la lista horizontalmente */

        .links__title {
            color: var(--color-light-txt);
            font-weight: 400;
        }

        .links__list {
            padding-top: 1%;
            list-style-type: none;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            width: 95%;

            @media (max-width: 768px) {
                grid-template-columns: 1fr;
            }

            .list__element {
                padding: 2.5% 0.5% 2.5% 2%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;

                background-color: var(--color-palette-Black);
                border-radius: 8px;

                .element__name {
                    width: 80%;
                    color: var(--color-palette-White);
                    font-weight: 400;
                }

                .element__delete {
                    margin-right: 2%;
                    background-color: var(--color-palette-Black);
                    border: none;

                    .hover__icon {
                        color: var(--color-palette-Crimson);
                        transition: color 0.3s, transform 0.3s;
                        font-size: 1.5rem;
                    }

                    .hover__icon:hover {
                        color: var(--color-palette-White);
                        transform: scale(1.2);
                    }
                }

                .buttons {
                    width: 100%;
                    height: 50%;
                    margin-top: 1.5%;
                    padding-right: 2%;
                    display: flex;
                    justify-content: center;

                    .element__button {
                        margin-right: 2%;
                        padding: 2% 5% 2% 5%;
                        width: 45%;
                        background-color: var(--color-btn);
                        border: none;
                        border-radius: 4px;

                        color: var(--color-white);

                    }

                    .element__buttonPort {
                        padding: 2% 5% 2% 5%;
                        width: 45%;
                        background-color: var(--color-btn);
                        border: none;
                        border-radius: 4px;

                        color: var(--color-white);

                    }

                    .element__button:hover, .element__buttonPort:hover {
                        background-color: var(--color-contrast-big-btn);
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {

    }
}