.header {
    width: 100%;

    display: flex;
    align-items: center;
    
    padding: 1.5% 1% 1.5% 1%;

    background-color: var(--color-header);

    .header__branding {
        width: 50%;
        display: flex;
        align-items: center;

        .branding__logo {
            width: 7%;
        }

        .branding__name {
            margin-left: 7%;
            color: var(--color-tittle);
            text-decoration: none;
            font-size: 1.8rem;
        }
    }

    .header__rightSide {
        width: 50%;

        display: flex;
        align-items: center;
        justify-content: flex-end;
        
        .rightSide__button {
            margin-right: 1.4%;
            border: none;
            background-color: var(--color-header);
            cursor: pointer;
            font-size: 1.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 5%;
            transition: transform 0.3s;
    
            &:hover {
                transform: scale(1.1);
            }

            .button__icon {
                font-size: 2rem;
                color: var(--color-palette-White); // Color general del icono
                transition: color 0.4s;
        
                &:hover {
                    color: var(--color-palette-Crimson); // Color al pasar el cursor
                }
            }
        }

        .rightSide__auth {
            display: flex;
            justify-content: space-between;
            
            width: 23%;

            .auth__login, .auth__register {
                background-color: var(--color-btn);
                width: 42%;
                padding: 6% 0 6% 0;
                border: none;
                border-radius: 8px;

                color: var(--color-white);
                margin-right: 5%;

                font-size: 1.1rem;
                transition: background-color 0.5s ease;
            }
            
            .auth__login:hover, .auth__register:hover {
                background-color: var(--color-contrast-btn);
                color: var(--color-palette-Black);
            }

            .auth__userName {
                margin-right: 8%;
                display: flex;
                align-items: center;

                .userName__logo {
                    color: var(--color-palette-White);
                    font-size: 3rem;
                }
            }
    
            .auth__logOut {
                background-color: var(--color-btn);
                width: 70%;
                height: 50%;
                padding: 6% 0 6% 0;
    
                border: solid 1px var(--color-btn);
                border-radius: 8px;
    
                color: var(--color-white);
                margin-right: 5%;
                font-size: 1.1rem;
            }
    
            .auth__logOut:hover {
                border: solid 1px var(--color-contrast-big-btn);
                background-color: var(--color-contrast-big-btn);
                color: var(--color-txt);
            }
        }

        @media (max-width: 1280px) {
            .rightSide__button {
                margin-right: 2%;
            }

            .rightSide__auth {
                width: 30%;
            }
        }

        @media (max-width: 1010px) {
            .rightSide__button {
                margin-right: 2%;
            }

            .rightSide__auth {
                width: 30%;
            }
        }

        @media (max-width: 870px) {
            .rightSide__button {
                margin-right: 2%;
            }

            .rightSide__auth {
                width: 30%;

                .auth__logOut {
                    font-size: 0.8rem;
                }
            }
        }

        @media (max-width: 768px) {
            .rightSide__button {
                margin-right: 3%;
                
                .button__icon {
                    font-size: 1.5rem;
                }
            }

            .rightSide__auth {
                width: 30%;

                .auth__logOut {
                    font-size: 0.8rem;
                }

                .auth__userName {
                 
                    .userName__logo {
                        font-size: 2rem;
                    }
                }
            }
        }
    }

    @media (max-width: 480px) {
        .header__branding {
            width: 50%;

            .branding__name {
                font-size: 1rem;
            }
        }

        .header__rightSide {
            
            .rightSide__auth {
                width: 50%;

                .auth__logOut {
                    font-size: 0.8rem;
                }

                .auth__userName {
                 
                    .userName__logo {
                        font-size: 2rem;
                    }
                }
            }

            .rightSide__button {
                margin-right: 5%;
            }
        }
    }
}